@import "tailwindcss";

@theme {
  --color-midnight: #0a0b10;
  --color-luminous-cyan: #00f5ff;
  --color-luminous-violet: #9d00ff;
  --color-cool-white: #f8fafc;
}
@layer components {
  .btn-secondary {
    @apply bg-gray-500 text-white p-4 rounded hover:bg-gray-600;

  }
  .matrix-v-line {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 1px;
  background: linear-gradient(
    to bottom,
    transparent,
    #00f5ff,
    #9d00ff,
    transparent
  );
  box-shadow: 0 0 8px rgba(0, 245, 255, 0.4);
  transform: translateX(-50%);
  z-index: 10;
}
.matrix-h-line {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    to right,
    transparent,
    #00f5ff,
    #9d00ff,
    transparent
  );
  box-shadow: 0 0 8px rgba(157, 0, 255, 0.4);
  transform: translateY(-50%);
  z-index: 10;
}
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  margin: 0;
  padding: 0;
}
